<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
    DEMO
  </head>
  <body>
    <li><a href="http://127.0.0.1:8000/bookhub/insert">Insert a book</a></li><br />
    <li><a href="http://127.0.0.1:8000/bookhub/delete">Delete a book</a></li><br />
    <li><a href="http://127.0.0.1:8000/bookhub/need">Search for book</a></li><br />
    <li><a href="http://127.0.0.1:8000/bookhub/have">Search for who may concern</a></li><br />
  </body>
</html>
