{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>BookHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        function goto(address) {
            window.location = address;
        };
        $(document).ready(
            function () {
                $("#cs").hover(function () {
                    $("#cs > img").attr("src", "{% static 'elements/CS1.png' %}");
                }, function () {
                    $("#cs > img").attr("src", "{% static 'elements/CS.png' %}");
                });
                $("#hist").hover(function () {
                    $("#hist > img").attr("src", "{% static 'elements/HIST1.png' %}");
                    console.log("a");
                }, function () {
                    $("#hist > img").attr("src", "{% static 'elements/HIST.png' %}");
                });
                $("#chem").hover(function () {
                    $("#chem > img").attr("src", "{% static 'elements/CHEM1.png' %}");
                    console.log("a");
                }, function () {
                    $("#chem > img").attr("src", "{% static 'elements/CHEM.png' %}");
                });
                $("#math").hover(function () {
                    $("#math > img").attr("src", "{% static 'elements/MATH1.png' %}");
                    console.log("a");
                }, function () {
                    $("#math > img").attr("src", "{% static 'elements/MATH.png' %}");
                });

                ////////////////////////////////////
                $("#cs").click(function () {
                    $.ajax({
                        url:'/search',
                        type: "POST",
                        data: {keyword: "cs"},
                        success:function(response){},
                        complete:function(){},
                        error:function (xhr, textStatus, thrownError){}
                    });
                });
                $("#chem").click(function () {
                    $.ajax({
                        url: '/search',
                        type: "POST",
                        data: { keyword: "chem" },
                        success: function (response) { },
                        complete: function () { },
                        error: function (xhr, textStatus, thrownError) { }
                    });
                });
                $("#hist").click(function () {
                    $.ajax({
                        url: '/search',
                        type: "POST",
                        data: { keyword: "hist" },
                        success: function (response) { },
                        complete: function () { },
                        error: function (xhr, textStatus, thrownError) { }
                    });
                });
                $("#math").click(function () {
                    $.ajax({
                        url: '/search',
                        type: "POST",
                        data: { keyword: "math" },
                        success: function (response) { },
                        complete: function () { },
                        error: function (xhr, textStatus, thrownError) { }
                    });
                });

                ///////////////////////////////////
                $("#your_account").click(function () {
                    $("#belownav").load("your_account");
                });
                $("#your_books").click(function () {
                    $("#belownav").load("your_books");
                });
                $("#your_wanted_list").click(function () {
                    $("#belownav").load("your_wanted_list");
                });
                $("#recommended_to_you").click(function () {
                    $("#belownav").load("recommended_to_you");
                });
                $("#search_submit").click(function () {
                    $("#belownav").load("search");
                });
	        $("#wanted_list").click(function (){
	          $("#belownav").load("your_wanted_list");
	        });
                

            }


        );

    </script>

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">BookHub</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">books</a></li>
                    <li id="wanted_list"><a href="#">wanted List</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li id="your_account"><a href="#">Your Account</a></li>
                            <li id="your_books"><a href="#">Your books</a></li>
                            <li id="your_wanted_list"><a href="#">Your Wanted List</a></li>
                            <li class="divider"></li>
                            <li id="recommended_to_you"><a href="#">Recommended to you</a></li>
                            <li class="divider"></li>
                            <li><a data-toggle="modal" href="#addbook">I have a book</a></li>
                            <li><a data-toggle="modal" href="#wantbook">I want a book</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="post" action="search/">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="keyword" class="form-control" placeholder="Search Inventory">
                    </div>
                    <button id="search_submit" type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" href="#login">Login</a></li>
                    <li><a data-toggle="modal" data-target="#signup">Register</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" id="belownav">
        <div class="jumbotron" style="background-image: url('{% static 'elements/jumbotron.png' %}')">
            <div class="container">
                <h1>Find the books you need.</h1>
                <p>borrow from people of the entire campus.</p>
                <a href="#">learn more</a>
            </div>
        </div>
        <div class="neighborhood-guides">
            <div class="container">
                <h2>Category guides</h2>
                <p>Not sure the exact book you want? We've have sorted all the books for you</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail" id="cs">
                            <img src="{% static 'elements/CS.png' %}">
                        </div>
                        <div class="thumbnail" id="math">
                            <img src="{% static 'elements/MATH.png' %}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" id="hist">
                            <img src="{% static 'elements/HIST.png' %}">
                        </div>
                        <div class="thumbnail" id="chem">
                            <img src="{% static 'elements/CHEM.png' %}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail" id="more">
                            <img src="">
                        </div>
                        <div class="thumbnail" id="more1">
                            <img src="" />
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="learn-more">
            <div class="container">
                <div>
                    <div>
                        <h3>borrow</h3>
                        <p>from all people who has idle books.</p>
                        <p><a href="#">see how to borrow on BookHub</a></p>
                    </div>
                    <div>
                        <h3>lend</h3>
                        <p>your currently unwanted book to people who desparately needed.</p>
                        <p><a href="#">learn more about registering your book for lending</a></p>
                    </div>
                    <div>
                        <h3>trust and safety</h3>
                        <p>from verified university NetID and email.</p>
                        <p><a href="#">learn about trust at BookHub</a></p>
                    </div>
                </div>
            </div>      
        </div>




        


    </div>
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <form class="form-horizontal" method="post" action="signup/">
                        {% csrf_token %}
                        <fieldset>

                            <!-- Form Name -->
                            <legend>Welcome to BookHub!</legend>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-signup-username">Username</label>
                                <div class="controls">
                                    <input id="textinput-1" name="textinput-signup-username" type="text" placeholder="your username" class="input-xlarge">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-signup-netid">NetID</label>
                                <div class="controls">
                                    <input id="textinput-2" name="textinput-signup-netid" type="text" placeholder="your netid" class="input-xlarge">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-signup-major">Major</label>
                                <div class="controls">
                                    <input id="textinput-2" name="textinput-signup-major" type="text" placeholder="your major" class="input-xlarge">
                                </div>
                            </div>



                            <!-- Password input-->
                            <div class="control-group">
                                <label class="control-label" for="passwordinput-signup-0">Password</label>
                                <div class="controls">
                                    <input id="passwordinput-0" name="passwordinput-signup-0" type="password" placeholder="your password" class="input-xlarge">
                                </div>
                            </div>
                            <!-- Password input-->
                            <div class="control-group">
                                <label class="control-label" for="passwordinput-signup-1">Password Confirmation</label>
                                <div class="controls">
                                    <input id="passwordinput-1" name="passwordinput-signup-1" type="password" placeholder="confirm your password" class="input-xlarge">
                                </div>
                            </div>
                            <br />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Register" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <form class="form-horizontal" method="post" action="login/">
                        {% csrf_token %}
                        <fieldset>

                            <!-- Form Name -->
                            <legend>Welcome to BookHub!</legend>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-login-username">Username</label>
                                <div class="controls">
                                    <input id="textinput-1" name="textinput-login-username" type="text" placeholder="username" class="input-xlarge">
                                </div>
                            </div>




                            <!-- Password input-->
                            <div class="control-group">
                                <label class="control-label" for="passwordinput-login">Password</label>
                                <div class="controls">
                                    <input id="passwordinput-0" name="passwordinput-login" type="password" placeholder="password" class="input-xlarge">
                                </div>
                            </div>

                            <br />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Login" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <form class="form-horizontal" method="post" action="havebook/">
                        {% csrf_token %}
                        <fieldset>

                            <!-- Form Name -->
                            <legend>ADD A BOOK!</legend>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-addbook-title">Book Title</label>
                                <div class="controls">
                                    <input id="textinput-1" name="textinput-addbook-title" type="text" placeholder="title" class="input-xlarge">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-addbook-isbn">ISBN</label>
                                <div class="controls">
                                    <input id="textinput-2" name="textinput-addbook-isbn" type="text" placeholder="ISBN" class="input-xlarge">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-addbook-category">Category</label>
                                <div class="controls">
                                    <input id="textinput-2" name="textinput-addbook-category" type="text" placeholder="category" class="input-xlarge">
                                </div>
                            </div>




                            <br />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="ADD" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="wantbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <form class="form-horizontal" method="post" action="needbook/">
                        {% csrf_token %}
                        <fieldset>

                            <!-- Form Name -->
                            <legend>I NEED THIS BOOK!</legend>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-wantbook-title">Book Title</label>
                                <div class="controls">
                                    <input id="textinput-1" name="textinput-wantbook-title" type="text" placeholder="title" class="input-xlarge">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-wantbook-isbn">ISBN</label>
                                <div class="controls">
                                    <input id="textinput-2" name="textinput-wantbook-isbn" type="text" placeholder="ISBN" class="input-xlarge">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="textinput-wantbook-category">Category</label>
                                <div class="controls">
                                    <input id="textinput-2" name="textinput-wantbook-category" type="text" placeholder="category" class="input-xlarge">
                                </div>
                            </div>




                            <br />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="ADD" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
