<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Search result</title>
</head>
<body>
    {% if book_user %}
    <h1>Results for {{ keyword }}</h1>
    <table style="width:100%">
        {% for bu in book_user %}
	<tr>
	  {% for en in bu %}
          <td>{{en}}</td>
	  {% endfor %}
        {% endfor %}
	<tr>
    </table>
    {% else %}
    <p>Did not find any books that match</p>
    {% endif %}
</body>
</html>
