<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Your Wanted List</title>
</head>
<body>
    <p> Your Wanted List</p>
    {% if book_list %}
    <form method="post" action="delete_from_need/">
      {% csrf_token %}
        {% for book in book_list %}
        <input type="checkbox" name="delete" value="{{book.ISBN}}" />{{book.title}} ......... ISBN:{{book.ISBN}} <br />
        {% endfor %}
        <input type="submit" value="delete" />
    </form>
    {% else %}
    <p> You don't have any book registered yet </p>
    {% endif %}
</body>
</html>
