<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Delete Book</title>
    Search for people who have this book
  </head>
  <body>
    <form action="needbook/" method="post">
      {% csrf_token %}
      <label for="isbn">ISBN:</label>
      <input id="isbn" type="text" name="isbn" value=""><br />
      <input type="submit" value="OK">
    </form><br />
    <a href="http://127.0.0.1:8000/bookhub/">Back to index</li><br />
  </body>
</html>
